.piano-wrap-outer {
    margin-top: 50px;
    padding-top: 24px;
    overflow: hidden;
}
.piano-wrap-middle {
    position: relative;
    &.with-arrows {
        .piano-wrap-inner {
            justify-content: left;
        }
    }
}
.piano-wrap-inner {
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.4s all ease-in-out;
}
.piano-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &.left {
        left: 0;
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
    &.right {
        right: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
}
.piano-key-wrapper {
    position: relative;
}
.piano-key {
    height: 121px;
    width: 25px;
    background: $color-white;
    display: block;
    border: 1px solid $color-black;
    position: relative;
    &.black {
        width: 19px;
        height: 71px;
        background: $color-black;
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 1;
        &:hover {
            opacity: 0.8;
            background: $color-black;
        }
    }
    &.inactive {
        pointer-events: none;
        &:after {
            content: "";
            background: #712a3e;
            opacity: 0.6;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
    &:hover {
        opacity: 1;
        background: #eee;
    }
}
.piano-octave-wrapper {
    display: flex;
    position: relative;
}
.piano-octave-info {
    position: absolute;
    left: 0;
    right: 0;
    top: -26px;
    margin: 0px 2px;
    display: flex;
    &::before, &::after {
        content:  "";
        border: 2px solid $color-border;
        border-bottom: none;
        height: 16px;
        margin: 6px 3px 0;
        flex-grow: 1;
    }
    &::before {
        border-right: none;
        margin-left: 0;
    }
    &::after {
        border-left: none;
        margin-right: 0;
    }
}
