$font-family: 'Roboto', sans-serif;

$mobile-max-width: 767px;
$tablet-max-width: 1199px;

$color-white: #fff;
$color-black: #222;
$color-body-bg: #ECFCFF;
$color-menu-bg: $color-white;
$color-border: #442AE5;
$color-link: #0176B8;
